/* Base Setup */
*{
    max-width: 100%;
}
img{
    object-fit: cover;
}
.numc{
    padding:20px;
    text-align: center;
    margin-bottom: 20px;
}

.tablecard{
    margin-bottom: 0;
}

.tablem{
    margin-bottom: 150px;
}
nav {
    background-color: ffffff;
    margin-bottom: 40px;
}

footer{
    padding:10px;
    text-align: center;
    margin-bottom: 0;
    background-color: black;
    color: white;
}

footer p{
    margin:0;
}